.nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  margin-inline: auto;
  background-color: yellowgreen;
}

.nav[data-open='true'] {
  display: grid;
}

.heading-all-boards {
}

.control {
  display: grid;
  gap: 1rem;
  align-self: end;
  justify-self: end;
}

.board-list {
  justify-self: start;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.board-item {
  padding: 2em;
  margin: 0.5em;
}

@media (min-width: 768px) {
  .nav {
    display: grid;
    padding-block: 2rem;
    grid-template-rows: max-content 1fr max-content;

    position: initial;
    margin-inline: 0;
    width: var(--navigation-width);
    transition: width 0.3s ease-in-out;
    overflow-x: hidden;

    & > * {
      min-width: var(--navigation-width);
    }
  }

  .nav[data-open='true'] {
    width: 0;
  }
}
