.nav-container {
  /* background-color: yellowgreen; */
  border-right: 2px solid var(--t-border-color);
}

.nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  margin-inline: auto;
  background-color: inherit;
}

.nav-control {
  display: none;
}

.nav[data-open='true'] {
  display: grid;
}

.control {
  display: grid;
  gap: 1rem;
  align-self: end;
  justify-self: end;
}

.board-list {
  justify-self: start;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.board-item {
  padding: 2em;
  margin: 0.5em;
}

@media (min-width: 768px) {
  .nav-container {
    display: grid;
    position: relative;
    padding-block: 2rem;
  }

  .nav {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    overflow-x: hidden;

    position: relative;

    margin-inline: 0;
    width: var(--navigation-width);
    transition: width 1s ease-in-out;
    /* overflow-x: hidden; */

    & > * {
      min-width: var(--navigation-width);
    }
  }

  .nav-control {
    width: 56px;
    height: 48px;
    display: none;
    place-content: center;
    position: absolute;

    cursor: pointer;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 1rem;
    bottom: 0;
    right: 0;
    transform: translateX(100%) translateY(-30px);
    background-color: red;
  }
  /* Close main sidebar */
  .nav-container[data-open='false'] .nav {
    width: 0;
  }
  /* open small sidebar control button */
  .nav-container[data-open='false'] .nav-control {
    display: block;
  }
}
