.logoo  {
  background-color: red;
  fill: red;
}

.logo-desktop {
  display: none;
}


/* Control logo background color based on a theme */
html[data-theme='dark'] .logo-desktop path {
  fill: var(--color-white-4);
}

html[data-theme='light'] .logo-desktop path {
  fill: var(--color-black-4);
}

.form-container {
  display: grid;
  gap: 2rem;
  padding: 2rem;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.close-modal {
  padding: 1em;
  cursor: pointer;
}

@media (min-width: 768px) {
  .form-container {
    min-width: 480px;
  }
}

.form {
  display: grid;
  gap: 1.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  font-weight: 700;
  color: var(--color-gray-3);

  label {
    color: var(--t-form-label);
  }

  select,
  input,
  textarea {
    font-size: 0.8125rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    /* font: inherit; */
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid var(--t-input-border-color);
    outline: none;
    color: var(--color-white-4);
    background-color: inherit;

    &:is(:hover, :focus-within) {
      border-color: var(--color-purple-4);
    }
    line-height: 1.5;
    &:invalid,
    &[data-error='true'] {
      border-color: var(--color-red-4);
    }

    &::placeholder {
      color: var(--color-gray-3);
    }
  }

  option {
    background-color: var(--t-clr-primary-1);
    font-weight: inherit;
  }
}

.header {
  grid-column: 1/-1;
  grid-row: 1;

  display: grid;
  grid-template-columns: max-content max-content 1fr max-content max-content;
  grid-auto-flow: column;
  align-items: center;
  padding-inline-end: 1rem;
}

.hidden {
  display: none;
}

.header-logo {
  width: 100%;
  grid-row: 1;
  grid-column: 1;
}

.navbar-mobile-control {
  padding-left: 0.5rem;
}

/* Add Neew Task */
.add-new-task-button-lg {
  display: none;
}

.add-new-task-button-sm {
  cursor: pointer;
  padding-block: 0.625rem;
  padding-inline: 1.125rem;
  border-radius: 24px;

  &:is(:hover, :focus-within) {
    background-color: var(--color-purple-3);
  }
}

.new-task-container {
  grid-column: 4;

  & > button {
    border: none;
  }
}

/*  Board Control */
.board-control {
  cursor: pointer;
  margin-left: 1rem;

  grid-column: 5;

  display: grid;
  position: relative;

  & > button {
    border: none;
    background-color: transparent;
  }

  & button > img {
    margin: auto;
  }
}

.board-control > button {
  cursor: pointer;
  padding-inline: 0.5rem;
  width: 5px;
  height: 20px;
  background-image: url('/icon-vertical-ellipsis.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.board-control-menu {
  cursor: pointer;
  padding: 1rem;

  position: absolute;
  bottom: -1rem;
  right: 0;
  z-index: 2;
  min-width: 192px;
  /* width: max-content; */
  height: max-content;

  transform: translateY(100%);
  border-radius: 8px;

  & button {
    border: none;
    background-color: transparent;
  }

  > * + * {
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .header {
    border-bottom: 2px solid var(--t-border-color);
  }

  .navbar-mobile-control {
    display: none;
  }

  .add-new-task-button-sm {
    display: none;
  }

  .add-new-task-button-lg {
    display: block;
  }


  .logo-mobile {
    display: none;
  }

  .logo-desktop {
    display: block;
  }
}
