.task-group-container {
  --spacing: 1.5rem;
  display: grid;

  &[data-board-empty='false'] {
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: scroll;
    --header-height: 82px;
    /* this should be calculated dynamically */
    max-height: calc(100vh - var(--header-height));
  }

  &[data-board-empty='true'] {
    gap: 2rem;
    place-content: center;
    text-align: center;
    justify-items: center;
  }
}

.task-group-list {
  display: grid;
  grid-template-columns: min-content;
  /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
  grid-auto-flow: column;
  gap: var(--spacing);
  padding-block: var(--spacing);
  padding-inline: var(--spacing);
}

.task-group-title {
  --task-group-title-size: 15px;
  position: relative;
  padding-left: calc(var(--task-group-title-size) + 12px);

  &::after {
    left: 0;
    top: 0;
    bottom: 0;
    margin-block: auto;

    width: var(--task-group-title-size);
    height: var(--task-group-title-size);
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: rgb(42, 107, 203);
  }
}
