.task-group-container {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  min-height: 80vh;
}

.task-group-list {
  text-align: left;
  display: grid;
  grid-auto-flow: column;
  gap: 1.5em;
}

.task-group-item {
  max-width: 300px;
  min-width: 280px;
  border: 1px solid black;
  /* background-color: pink; */
}
